<div class="alert alert-danger alert-dismissible animate-show errorMsg" ng-show="expression" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  Hubo un pedo haciendo lo que querias hacer!!
</div>
<div class="alert alert-success alert-dismissible animate-show successMsg" ng-show="expression" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
  <span class="sr-only"></span>
  Todo salio chingon , como querias!!
</div>