<!-- Small modal
<a href="#/funcionarios/new" title="eliminar"></a>
 -->
<div class="modal fade editFuncionario" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Editar Funcionario</h4>
      </div>
        <div class="modal-body text-center">
          <div ng-include="'templates/funcionarios/form.html'"></div>   
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" ng-click="vm.edit()" ng-disabled="myForm.$invalid" >Guardar</button>
        </div> 
      </div>
  </div>
</div>