<div class="panel panel-default" ng-controller="funcionariosConveniosCtrl">
  <!-- Default panel contents -->
    <div class="panel-heading">
        Convenios por funcionario  
        <button type="button" class="btn btn-primary text-rigth" data-toggle="modal" data-target=".addModal"><span class="glyphicon glyphicon-plus" aria-hidden="true"></button>
        <input class="form-control" ng-model="search" type="text" placeholder="Filtar" > 
    </div>
    <div class="well col-md-6" ng-repeat="fc in vm.funcionariosConvenios | filter:search">
        <p class="text-right">
            <a href="#funcionarios" ng-click="vm.confirmationModal(fc)" title="eliminar"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            <a href="#funcionarios" ng-click="vm.updateData(fc)" title="editar"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
        </p>
        <p>
            <strong>funcionario</strong> <span >{{fc.funcionario_id.nombres}} {{fc.funcionario_id.apellido_materno}} {{fc.funcionario_id.apellido_paterno}} </span>
        </p>
        <p>
            <ul ng-repeat="convenio in fc.convenio_id ">
                <li>{{convenio.nombre}}</li>
            </ul>
        </p>
    </div>
    <div ng-include="'templates/newModal.html'"></div> 
    <div ng-include="'templates/editModal.html'"></div>
</div> 