
<div class="panel panel-default" ng-controller="tipoEventoCtrl">
  <!--Alerts to display-->
  <div ng-include="'templates/alerts.html'"></div> 
  <!-- Default panel contents -->
  <div class="panel-heading">Tipo de evento 
      <button type="button" class="btn btn-primary text-rigth" data-toggle="modal" data-target=".addModal"><span class="glyphicon glyphicon-plus" aria-hidden="true"></button>
  </div>

  <!-- Table -->
  <table class="table table-striped">
     	<thead>
          <tr>
              <th><a href="" ng-click="vm.order('tipo')" >Tipo evento</a></th>
              <th></th>	
              <th></th>  
          </tr>
          <tr >
              <td><input class="form-control"ng-model="search" type="text" placeholder="Filter by" ></td>
          </tr>
      </thead>
      <tbody>
          <tr ng-repeat="tipoEvento in vm.tipoEventos | orderBy:predicate:reverse | filter:search">
              <td>{{tipoEvento.tipo}}</td>
              <td><a href="#tipoEventos" ng-click="vm.delete($index,tipoEvento.id)" title="eliminar"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
              <td><a href="#tipoEventos" ng-click="vm.updateData(tipoEvento)" title="editar"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>
          </tr>				
      </tbody>
  </table>
  <div ng-include="'templates/commonModals.html'"></div> 
</div>
