<form>
  <div class="form-group">
    <label for="name">Nombre(s)</label>
    <input type="text" class="form-control" id="name" placeholder="Nombre">
  </div>
  <div class="form-group">
    <label for="apellidoP">Apellido paterno</label>
    <input type="text" class="form-control" id="apellidoP" placeholder="Apellido Paterno">
  </div>
   <div class="form-group">
    <label for="apellidoM">Apellido materno</label>
    <input type="text" class="form-control" id="apellidoM" placeholder="Apellido Materno">
  </div>
  <div class="form-group">
    <label for="cargo">Cargo</label>
     <select class="form-control" id="cargo">
      <option>c1</option>
      <option>c2</option>
      <option>c3</option>
      <option>c4</option>
      <option>c5</option>
    </select>
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>