
<div class="panel panel-default" ng-controller="materialDidacticoCtrl">
  <!--Alerts to display-->
    <div ng-include="'templates/alerts.html'"></div> 
  <!-- Default panel contents -->
  <div class="panel-heading">Material Didactico 
        <button type="button" class="btn btn-primary text-rigth" data-toggle="modal" data-target=".addModal"><span class="glyphicon glyphicon-plus" aria-hidden="true"></button>
    </div>
  <!-- Table -->
  <table class="table table-striped">
       	<thead>
            <tr>
                <th><a href="" ng-click="vm.order('tipo')" >Material Didactico</a></th>
                <th></th>	
                <th></th>  
            </tr>
            <tr >
                <td><input class="form-control"ng-model="search" type="text" placeholder="Filter by" ></td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="material_didactico in vm.materialDidactico | orderBy:predicate:reverse | filter:search">
                <td>{{material_didactico.tipo}}</td>
                <td><a href="#materialDidactico" ng-click="vm.delete($index,material_didactico.id)" title="eliminar"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
                <td><a href="#materialDidactico" ng-click="vm.updateData(material_didactico)" title="editar"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>
            </tr>				
        </tbody>
   </table>
   <div ng-include="'templates/newModal.html'"></div> 
    <div ng-include="'templates/editModal.html'"></div>
</div>
