
<div class="panel panel-default" ng-controller="ciudadesCtrl">
    <!--Alerts to display-->
    <div ng-include="'templates/alerts.html'"></div> 
  <!-- Default panel contents -->
  <div class="panel-heading">Ciudades 
        <button type="button" class="btn btn-primary text-rigth" data-toggle="modal" data-target=".addModal"><span class="glyphicon glyphicon-plus" aria-hidden="true"></button>
    </div>

  <!-- Table -->
  <table class="table table-striped">
        <thead>
            <tr>
                <th><a href="" ng-click="vm.order('nombre')" >Ciudad</a></th>
                <th><a href="" ng-click="vm.order('estado_id')" >Estado</a></th>   
                <th></th>  
            </tr>
            <tr >
                <td><input class="form-control"ng-model="search.nombre" type="text" placeholder="Filter by" ></td>
                <td><input class="form-control"ng-model="search.estado_id.nombre" type="text" placeholder="Filter by" ></td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ciudad in vm.ciudades | orderBy:predicate:reverse | filter:search">
                <td>{{ciudad.nombre}}</td>
                <td>{{ciudad.estado_id.nombre}}</td>
                <td><a href="#ciudades" ng-click="vm.confirmationModal(ciudad)" title="eliminar"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
                <td><a href="#ciudades" ng-click="vm.updateData(ciudad)" title="editar"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>
            </tr>               
        </tbody>
   </table>
   <div ng-include="'templates/newModal.html'"></div> 
    <div ng-include="'templates/editModal.html'"></div>
</div>
